<script>
  import buildings from './buildings.json';
  console.log('panely', buildings);

  const mapUrlBase = 'https://map.reworld.net/';
  $: mapUrl = `${mapUrlBase}?x=${mapZoom}/${mapCoordX}/${mapCoordY}#!/map/0/${mapZoom}/${mapCoordX}/${mapCoordY}`;

  let selectedBuilding = null;

  $: mapZoom = selectedBuilding ? 11 : 9;
  $: mapCoordX = selectedBuilding ? selectedBuilding.elevator_x : -534;
  $: mapCoordY = selectedBuilding ? selectedBuilding.elevator_y : -670;

  // $: floors = selectedBuilding ? new Array(selectedBuilding.floors - 1) : [];

  let floors = [];

  $: if (selectedBuilding) for (let i = 0; i <= selectedBuilding.floors; i++) {
    floors.push(i);
  }

  let selectedFloor = null;
</script>

<form>
  <div class='map_preview'>
    <iframe src={mapUrl} title='Reworld Map'></iframe>
  </div>
  <fieldset>
    <legend>1. select a building</legend>
    <select bind:value={selectedBuilding}>
      {#each buildings as building}
        <option value={building}>{building.type} {building.number}</option>
      {/each}
    </select>
    <!-- <input type='number' bind:value={mapZoom}> -->
  </fieldset>

  {#if selectedBuilding && selectedBuilding.type === "Panelak"}
  <fieldset>
    <legend>2. select floor</legend>
    <select bind:value={selectedFloor}>
      {#each floors as floor}
        <option value={floor}>{floor || "G"}.</option>
      {/each}
    </select>
  </fieldset>
  {/if}

  <fieldset>
    <legend>3. select apartment orientation</legend>
    <select>
      <option>West</option>
      <option>East</option>
    </select>
  </fieldset>
  <fieldset>
    <legend>4. run the commands</legend>
    <pre></pre>
  </fieldset>
  <fieldset>
    <legend>5. fill in the IDs of created areas</legend>
    <pre></pre>
  </fieldset>
  <fieldset>
    <legend>6. run the commands</legend>
    <pre></pre>
  </fieldset>
</form>